@media screen and (max-width:1000px){
    header .container{
    display: flex;
    flex-direction: column;    
    }
 }

@media screen and (min-width:500px){
    .descricao{
        width: 50%;
    }
}

@media screen and (max-width:1000px){
    .titulo{
        width: 100%;
    }
}